/* tsoporan.com styles */
body {
    border-top: 7px solid #00c533;      
    background: #fff;
    }

header {
        padding-top: 50px;
}

header h1 {
        font-family: Arial, 'sans-serif';
        font-weight: 400;
        font-size: 65px;
}

header h2 {
        font-size: 15px;
        margin-top: 15px;
    color: #666;
}

#content {
        padding: 20px 0;
        color: #333;
}

#content p {
        font-size:18px;
        line-height: 22px;
}

#content ul {
        padding-top: 15px 0;
        text-align: center;
}

#content ul li {
        display: inline;
        padding: 0 5px;
        font-size: 20px;
}

span.g {
    color: #00c553;
}

footer {
        text-align: center;
        bottom: 0;
}

blockquote {
        border: none;
}
